{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/add_student.css' %}">

<div class="dashboard-container">
    <div class="sidebar">
        <div style="text-align: center;">
            <img src="/static/images/logo.png" alt="University Logo">
            <h3><a href="{% url 'home' %}"> &lt;&lt; HOME </a></h3>
        </div>
        <ul>
            <a href="{% url 'lec_profile' %}"><li>My Profile</li></a>
            <a href="{% url 'add_resources' %}"><li>Add Resources</li></a>
            <a href="{% url 'view_resources' %}"><li>View Resources</li></a>
            <a href="{% url 'add_announcements' %}"><li>Add Announcements</li></a>
            <a href="{% url 'view_announcements' %}"><li>View Announcements</li></a>
            <a href="{% url 'attendance' %}"><li class="active">Generate Attendance</li></a>
            <a href="{% url 'attendance_history' %}"><li>Attendance History</li></a>
            <br>
            
            
        </ul>
        <a href="{% url 'home' %}" class="logout-btn">Log Out</a>
    </div>

    <div class="main-content">
        <h2>Generate Attendance</h2>
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom: 10px;">
                        <label>Date</label>
                        <input type="date" name="date" required>
                    </div>
                    <div>
                        <label>Course ID</label>
                        <select name="course_id" required>
                            <option value="">Select Course ID</option>
                            {% for course in courses %}
                                <option value="{{ course.course_id }}">{{ course.course_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Course Name</label>
                        <select name="course_name" required>
                            <option value="">Select Course Name</option>
                            {% for course in courses %}
                                <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div>
                        <label>Time</label>
                        <div style="display: flex; align-items: center; justify-content: center; gap: 8px; margin-bottom: 20px;">
                            <span>From</span>
                            <input type="time" name="time_from" required>
                            <span>To</span>
                            <input type="time" name="time_to" required>
                        </div>
                    </div>
                    
                    
                    
                    
                        <button type="submit">Generate</button>
                    </div>
            </form>
            

    </div>
</div>

{% endblock %}