{% extends 'main/base.html' %}
{% block content %}
    <h2>Lecturer Dashboard</h2>
    <p>Welcome, Lecturer!</p>

    <a href="{% url 'lec_profile' %}">My Profile</a><br>
    <a href="{% url 'add_resources' %}">Add Resources</a><br>
    <a href="{% url 'view_resources' %}">View Resources</a><br>
    <a href="{% url 'add_announcements' %}">Add Announcements</a><br>
    <a href="{% url 'view_announcements' %}">View Announcements</a><br>
    
    

    <a href="{% url 'home' %}">Logout</a>
{% endblock %}