{% extends 'main/base.html' %}
{% block content %}
    <h2>Admin Dashboard</h2>
    <p>Welcome, Admin!</p>
    <a href="{% url 'add_student' %}">Add Student</a><br>
    <a href="{% url 'manage_student' %}">Manage Students</a><br>
    <a href="{% url 'add_semester_courses' %}">Add Semester Courses</a><br>
    <a href="{% url 'manage_semester_courses' %}">Manage Semester Courses</a><br>
    <a href="{% url 'add_lecturer' %}">Add Leturers</a><br>
    <a href="{% url 'manage_lecturer' %}">Manage Leturers</a><br>
    <a href="{% url 'add_departments_courses' %}">Add Departments and Courses</li></a><br>
    <a href="{% url 'manage_departments_courses' %}"><li>Manage Departments and Courses</li></a><br>
    <a href="{% url 'add_exam_results' %}"><li>Add Exam Results</li></a>

    

    <a href="{% url 'home' %}">Logout</a>
{% endblock %}