{% extends 'main/base.html' %}
{% block content %}
{% if student_attendances %}
    <h2>Student Attendance for Session</h2>
    <table style="width:100%;border-collapse:collapse;">
        <tr>
            <th>Student Name</th>
            <th>Registration No</th>
            <th>Submitted At</th>
        </tr>
        {% for sa in student_attendances %}
        <tr>
            <td>{{ sa.student.name }}</td>
            <td>{{ sa.student.registration_no }}</td>
            <td>{{ sa.submitted_at|date:'Y-m-d H:i' }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><b>Course:</b> {{ attendance.course_id }} - {{ attendance.course_name }}<br>
    <b>Date:</b> {{ attendance.date }}<br>
    <b>Time:</b> {{ attendance.time_from }} - {{ attendance.time_to }}</p>
{% else %}
    <h2>Attendance Records</h2>
    <ul>
        {% for record in records %}
            <li>
                {{ record.attendance.course_id }} - {{ record.attendance.course_name }} | 
                {{ record.attendance.date }} | 
                {{ record.attendance.time_from }} - {{ record.attendance.time_to }}
            </li>
        {% empty %}
            <li>No attendance records found.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}